<mat-card class="card-container" [ngClass.sm]="'card-container-sm'">
  <mat-card-content>

      <button type="button" (click)="getDirection()">Get</button>

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction *ngIf="dir" 
          [origin]="dir.origin" [destination]="dir.destination">
        </agm-direction>
      </agm-map>

    <!-- <agm-map [latitude]="lat" [longitude]="lng">
      <agm-direction [origin]="origin" [destination]="destination">
      </agm-direction>
    </agm-map> -->
  </mat-card-content>
</mat-card>
