agm-map {
  height: 100%;
}

.card-container {
  margin: 15px;
  padding: 0px !important;
  height: calc(100% - 310px);
  min-height: 400px;
}

.card-container-sm {
  height: 400px !important;
}

mat-card-content {
  height: 100%;
}
