.card-container {
  margin: 15px;
}

.star-rating {
  width: 100%;
  margin-top: auto;
  margin-left: 2px;
  margin-bottom: auto;
}

.star-rating-title {
  margin-right: 10px;
  opacity: 0.75;
}

mat-star-rating {
  vertical-align: 2px;
}

agm-map {
  height: 100%;
}

.card-container-map {
  margin: 15px;
  padding: 0px !important;
  height: 400px;
}

mat-card-content {
  height: 100%;
}

.distance .mat-select-arrow-wrapper{
  display: none;
}