<form [formGroup]="form" novalidate (ngSubmit)="save(form.value)">
  <mat-card class="card-container">
    <mat-card-title>
      Create a new Route
    </mat-card-title>
    <mat-card-content>
      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput placeholder="Name of the Route" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Country" formControlName="country">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Town" formControlName="place">
        </mat-form-field>
      </div>
      <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="Distance" formControlName="distance">
        </mat-form-field>
        <mat-form-field>

          <mat-select (selectionChange)="changeType($event)" placeholder="Activity" multiple formArrayName="type">
            <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
          </mat-select>

        </mat-form-field>
        <div class="star-rating">
          <span class="star-rating-title mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">Level: </span>
          <mat-star-rating [ratingElements]="ratingElements" [rating]="rating" [ratingtype]="ratingtype" [starCount]="starCount" [color]="starColor"
            (ratingUpdated)="onRatingChanged($event)" ></mat-star-rating>
        </div>
      </div>
      <mat-card-actions fxLayout fxLayoutAlign="center center">
          <button mat-button type="submit" [disabled]="!form.valid" >Save</button>
          <a mat-button title="Cancel creating new contact" (click)="cancel(contact)" routerLink="/">Cancel</a>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
