<div class="trm-route-detail">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{route.name}} 
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="10%">
        <img mat-list-avatar src="http://www.countryflags.io/{{getCountryCode(route.country_dep)}}/flat/64.png" alt="Picture of {{route.name}}">
      </div>
      <div fxFlex="50%">

      </div>
      <div fxFlex="40%">
        <dl>

          <dt>Name:</dt>
          <dd>{{ route.name || '-'}}</dd>
          <dt>Country:</dt>
          <dd>{{ route.country_dep || '-'}}</dd>
          <dt>Place:</dt>
          <dd>{{ route.place || '-'}}</dd>
          <dt>Coordinates:</dt>
          <dd>{{ route.coordinates || '-'}}</dd>
          <dt>Type:</dt>
          <dd>{{ route.type || '-'}}</dd>
          <dt>Difficulty:</dt>
          <dd>{{ route.difficulty || '-'}}</dd>
          <dt>Rating:</dt>
          <dd>{{ route.rating || '-'}}</dd>

        </dl>
      </div>
    </div>

  </mat-expansion-panel>




  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Map
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination">
        </agm-direction>
      </agm-map>
    </div>
  </mat-expansion-panel>



  <mat-card>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <a mat-button (click)="back.emit()" title="Back">Back</a>
      <a mat-button (click)="edit.emit()" title="Edit {{route.name}}">Edit</a>
    </mat-card-actions>
  </mat-card>

</div>
