<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between right">
  <button mat-icon-button (click)="navbar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div (click)="clickLogo()"><h1>OutGoing</h1></div>
  

</mat-toolbar>


<mat-sidenav-container class="navigation-container">
  <mat-sidenav #navbar mode="side" opened class="navigation-sidenav">
    <mat-nav-list fxFlex>
      <a mat-list-item *ngFor="let nav of fillerNav" routerLink="{{nav.link}}">{{nav.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
