.navigation-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-sidenav {
  display: flex;
  width: 200px;
}

h1, .mat-icon-button{
  margin-top: 9px;
}

h1{
  margin-top: 13px;
}