<mat-card>
  <mat-card-title>Search for Routes</mat-card-title>
  <mat-card-content>
    <dl>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="33%">
          <dt>Name:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>
        <div fxFlex="33%">
          <dt>Where:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>
        <div fxFlex="33%">
          <dt>Umkreis:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>
      </div>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="33%">
          <dt>Type:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>
        <div fxFlex="33%">
          <dt>Perimeter:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>
        <div fxFlex="33%">
          <dt>Reccommendations:</dt>
          <dd>
            <mat-form-field color="accent" class="trm-search-container">
              <input matInput type="text" (input)="terms$.next($event.target.value)">
            </mat-form-field>
          </dd>
        </div>

      </div>
    </dl>

  </mat-card-content>
</mat-card>
